.item1{
background: #55ACEE;
color: white;
}
.item2{
background: #E1E8ED;
color: black;
}
.item3{
background: #3B5998;
color:white;
}
.child1{
background: #fcc200;
color: white;
}
.child2{
background: #ffd700;
color: black;
}
.child3{
background: #daa520;
color:white;
}