<sly data-sly-use.slingModel="com.adobe.aem.guides.bathsense.core.models.SlingModelExample"/>
<div class="component1">
        <div class="inner top-left">
            <h4>${slingModel.heading}</h4>
            <p>${slingModel.subHeading}</p>
            <button>${slingModel.buttonText}</button>
        </div>
        <div class="inner">
            <h4>${slingModel.heading2}</h4>
            <p>${slingModel.subHeading2}</p>
            <button>${slingModel.buttonText2}</button>
        </div>
    </div>
</div>